@keyframes intro-content {
    0% {opacity: 0; }
    100% {opacity: 1;}
} 

@keyframes intor-header {
    0% {transform: translateY(40px) scale(0.6);}
    100% {transform: translate(0) scale(1);}
}



#bg {
    background-image: url("../Images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    
}

#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    height: 100vh;
    transition: all .4s;
    z-index: 10;
    animation: 1.4s intro-content .1s both;

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
        animation: 1s intro-header .1s ;
    }



    p {
        width: 36vw;
        text-align: center;
        line-height: 190%;
    }

    button {
        color: #425831;
        background-color: white;
        padding: .6em 4.2em;
        border-radius: 4px;
        margin-top: .875rem;
    }

    button:hover {
        opacity: .8;
    }
}